$o-community-color: #149b74 !default;
$o-enterprise-color: #149b74 !default;
$o-brand-odoo: #149b74 !default;
$o-brand-primary: #e62222 !default;
$o-brand-secondary: #2d3748 !default;

$o-success: #149b74 !default;
$o-warning: #FFC107 !default;
$o-danger: #e62222 !default;
$o-info: #2d3748 !default;

$o-headings-font-family: 'Cairo', 'Tajawal', sans-serif !default;
$o-font-family-sans-serif: 'Cairo', 'Tajawal', sans-serif !default;
