$o-community-color: #0c3246 !default;
$o-enterprise-color: #0c3246 !default;
$o-brand-odoo: #0c3246 !default;
$o-brand-primary: #0284c7 !default;
$o-brand-secondary: #64748b !default;

$o-success: #10b981 !default;
$o-warning: #f59e0b !default;
$o-danger: #ef4444 !default;
$o-info: #64748b !default;

$o-headings-font-family: 'Cairo', 'Tajawal', sans-serif !default;
$o-font-family-sans-serif: 'Cairo', 'Tajawal', sans-serif !default;
