$o-community-color: #2d3748 !default;
$o-enterprise-color: #2d3748 !default;
$o-brand-odoo: #2d3748 !default;
$o-brand-primary: #0d9488 !default;
$o-brand-secondary: #4b5563 !default;

$o-success: #10b981 !default;
$o-warning: #f59e0b !default;
$o-danger: #ef4444 !default;
$o-info: #4b5563 !default;

$o-headings-font-family: 'Cairo', 'Tajawal', sans-serif !default;
$o-font-family-sans-serif: 'Cairo', 'Tajawal', sans-serif !default;
